<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StartupFile" value="D:\Games\TMNFServer\TrackmaniaServer.exe"/>
		<add key="WorkingDirectory" value="D:\Games\TMNFServer\"/>
		<add key="StartupParameters" value="/internet /dedicated_cfg=dedicated.config /game_settings=tracklist.txt /verbose_rpc /noautoquit"/>
		<add key="HideProcess" value="true"/>
	</appSettings>
</configuration>