<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StartupFile" value=""/>
		<add key="WorkingDirectory" value=""/>
		<add key="StartupParameters" value="/internet /dedicated_cfg=dedicated.config /game_settings=tracklist.txt /noautoquit"/>
		<add key="HideProcess" value="true"/>
	</appSettings>
</configuration>